[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-xdist = "*"
pytest-cov = "*"

[packages]
django = "==1.11"
django-coverage-plugin = "*"

[requires]
python_version = "3.4"
